* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  padding: 1rem;
}

.boxes {
  border: 1rem solid black;
  display: grid;
  grid-template-columns: 10% repeat(2, 1fr) 10%;
}

.box1 {
  background-color: lightblue;
}
.box2 {
  background-color: pink;
}
.box3 {
  background-color: orange;
}
.box4 {
  background-color: violet;
}
.box5 {
  background-color: lightgreen;
}
.box6 {
  background-color: gray;
}
.box7 {
  background-color: red;
}
